/** light theme **/

$light-background-color: #fff;

$light-font-color: #161209;
$light-font-secondary-color: #a9a9b3;

$light-navbar-active-color: #161209;

$light-global-link-color: #161209;
$light-global-link-hover-color:#2d96bd;

$light-post-link-color: #2d96bd;
$light-post-link-hover-color:#ef3982;

$light-pagination-link-color : #2d96bd;
$light-pagination-link-active-color: #000;

$light-border-color: #dcdcdc;



/** dark theme **/

$dark-background-color: #191919;
$dark-font-color: #9e9e9e;
$dark-font-secondary-color: #67676d;

$dark-navbar-active-color: #ffffff;

$dark-global-link-color: #f4f4ff;
$dark-global-link-hover-color: #6d6d6d;

$dark-post-link-color: #f4f4ff;
$dark-post-link-hover-color:#6d6d6d;

$dark-pagination-link-color : #f4f4ff;
$dark-pagination-link-active-color: #6d6d6d;

$dark-border-color: #fff;