@import "_variables.scss";

.home-subtitle {
  font-size: 1rem;
}

@media only screen and (min-width: 1440px) {
  .page {
  width: 80%;
  }
  .page.single {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    left: -10%;
  }
  #toc-auto {
    min-width: 10%;
  }
}

@media only screen and (max-width: 1440px) {
  .page {
    width: 80%;
    max-width: 1000px;
  }
  .page.single {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    left: -10%;
  }
  #toc-auto {
    min-width: 10%;
  }
}

@media only screen and (max-width: 1200px) {
  .page {
    width: 80%;
    max-width: 800px;
  }
  .page.single {
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    left: -10%;
  }
  #toc-auto {
    min-width: 10%;
  }
}
